* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background:white ;
    font-family:'Roboto', sans-serif;;

}
h2{
    text-align: center;
}
html{
    font-size: 16px; 
}
/* encabezado */
.container1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(44, 154, 218);        
} 
.title{
    text-align: center;
    font-size: calc(3em +2vw);
    font-family: 'Pacifico', cursive;
}


.box1 img{
    width: 100%;
    height: 80%;
    padding: 20px;
    
}

/* Galery */
.menu{
    box-sizing: border-box; 
    padding-left: 10px;
    padding-right: 10px;
}
.galery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    padding: 20px;
    grid-gap: 10px;
}
.galery-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.galery-item{
    position: relative;
}
.galery-title{
    position: absolute;
    bottom: 0;
    color: white;
    align-content: center;
    padding-left: 30%;
    background:linear-gradient(rgba(255,255,255,0), rgba(0,0,0,1));
    width: 100%;
    font-size: 15px;
    margin-bottom: 0;
}
.galery-item:nth-child(1){
    grid-column-start: span 2;
    /* grid-row: span 2; */
}
.galery-item:nth-child(4){
    grid-column-start: span 2;
    /* grid-row: span 2; */
}
.galery-item:nth-child(5){
    grid-column-start: span 2;
    /* grid-row: span 2; */
}
.galery-item:nth-child(8){
    grid-column-start: span 2;
    /* grid-row: span 2; */
}
@media(min-width:768px) {
    .galery-container{
        grid-template-columns: repeat(4, 1fr);
        height: 100%max-content;
        grid-auto-rows: 200px;
    }    
    .galery-item:nth-child(1){
        grid-column-start: span 1;
        grid-row: span 2;
        
    }
    .galery-item:nth-child(4){
        grid-column-start: span 2;
        grid-row: span 2;
    }
    .galery-item:nth-child(5){
        grid-column-start: span 1;
        grid-row: span 2;
    }
    .galery-item:nth-child(6){
        grid-column-start: span 1;
        grid-row: span 2;
    }
    .galery-item:nth-child(2){
        grid-column-start: span 2;
        /* grid-row: span 2; */
    }
   
}
/* Footer */
/*  */
footer{
    margin-top: 50px;
    background-color: rgb(44, 154, 218);  
}

footer iframe{
    padding: 10px;
    max-width: 100%;
    border-radius: 2em;
}
.maps{
    display: grid;
    grid-template-columns: 1fr 
}
@media(min-width:540px) {
    .maps{
        grid-template-columns: 1fr 1fr;
    }
}
.maps div{
    padding: 10%;
}
.maps div p{
    font-size: 1rem ;
    font-weight: bold;
}
/* botones */
.button{
    display: block;
    width: 150px;
    height: 40px;
    outline: none;
    border: 1px solid rgb(0, 141, 235);
    background-color: #fafafa;
    border-radius: 6px;
    color:rgb(0, 141, 235);
    cursor: pointer;
    margin: 20px auto;
    transition: all .25s;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
}

.button:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    border-radius: 6px;
    margin-left: -35px;
    background-image: linear-gradient(to right,
    rgb(23,228,243),rgb(0,141,235));
    transition: all .25s;
    z-index: -1;
}
.button:hover{
    border: 1px solid transparent;
    color:rgb(255, 255, 255);
}
.button:hover:before{
    height: 100%;
}